<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="h3">Некий брутальный гад.</h2>
                {% if request.user.is_authenticated %}
                <h2 class="h3">👍Вы регистрированный</h2><div class="ring"></div>
                {% else %}
                <p class="text-big"><font> Приветствую вас <strong>Брутальные повара</strong> в этaм <strong>Брутальном сайте</strong>. Вступайте в нашу комнду и регистрируйтес на нашь сайт.
                    И начните делица своими рецептоми дабы наша жизени была вкусна, слатка и <strong>Брутальна</strong>.
                Всем спасибо. <strong>Жми на манящие тебя круг и регистрируйтеся</strong></font></p>
                <a href="{% url 'login' %}" class="ring"></a>
                {% endif %}
            </div>
        </div>
    </div>
</section>